@model LocalShowsOnly.Models.Venue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venueAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venueAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venueDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venueDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.photoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.websiteURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.websiteURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
