@*@model IEnumerable<LocalShowsOnly.Models.Event>*@
@model PaginatedList<LocalShowsOnly.Models.Event>


@{
    ViewData["Title"] = "Index";
}
    <div style="display:inline-flex !important; ">
        <h2>[SHOWS]</h2>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a>@Model.PageIndex</a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled"
           style="margin-left:30em;">
            < Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next >
        </a>

        @using (Html.BeginForm())
        {
            <p style="padding-left:2em;">
                @Html.TextBox("SearchString")
                <input class="search-btn" type="submit" value="Search" />
            </p>
        }
    </div>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                WHAT
            </th>
            <th>
                WHERE
            </th>
            <th>
                WHEN
            </th>
            <th>
                &nbsp
            </th>
            <th>
                &nbsp
            </th>
            <th>
                &nbsp
            </th>
            <th>
                &nbsp
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //if (item.showtime >= DateTime.Now)
            //{
        <tr>
            <td>
                <img src="@Url.Content(item.photoURL)" style="max-height: 200px; max-width:200px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue.venueName)
            </td>
            @{ if (item.showtime.ToString("M/d/yy") == DateTime.Now.ToString("M/d/yy"))
            {
                    <td >
                        <div class="event-showtime shake-little shake-constant" style="padding:.4em; border-radius:.1em;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19); background-color: rgb(246, 174, 124)">
                            @item.showtime.ToString("M/d/yy")
                            <div style="font-family:permanent marker">Today!</div>
                        </div>
                    </td>
            }
            else
            {
                 <td >
                     <div class="event-showtime" style="padding:.4em; border-radius:.1em;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);">
                         @item.showtime.ToString("M/d/yy")
                     </div>
                 </td>

                }
            }
            @{ if (item.id == ViewBag.top)
                {

                    <td>
                        <div class="event-rsvp shake shake-constant" style="padding:.4em; border-radius:.1em;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);">
                            @Html.DisplayFor(modelItem => item.RSVPs.Count)&nbspgoing
                        </div>
                    </td>

                }
                else
                {
                    <td>
                        <div class="bg-transparent" style="padding:.4em; border-radius:.1em;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);">

                            @Html.DisplayFor(modelItem => item.RSVPs.Count)&nbspgoing
                        </div>
                    </td>
                }
            }

            @{
                var parms = new Dictionary<string, string> {
                       {"showId", $"{@item.id}" },
                       {"pageNumber", $"{@Model.PageIndex}" }

                    };

                if (ViewBag.AttendingList != null && ViewBag.AttendingList.Contains(item.id))
                {

                    //asp-route-showId="@item.id
                    <td>
                        <form asp-action="RemoveAttendee" asp-controller="RSVPs" asp-all-route-data="parms">
                            <input class="btn btn-success" type="submit" name="not attending" value=" You're Going  " />
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="AddAttendee" asp-controller="RSVPs" asp-all-route-data="parms">
                            <input class="btn btn-outline-secondary" type="submit" name="attend" value="Click to Attend" />
                        </form>
                    </td>
                }
            }
            <td>
                @{

                    if (item.hostId == ViewBag.UserId)
                    {

                        <form>
                            <div class="btn-group-vertical">
                                <button asp-action="Details" asp-all-route-data="parms" class="btn btn-dark">Details</button>
                                <button asp-action="Edit" asp-all-route-data="parms" class="btn btn-dark">Edit</button>
                                <button asp-action="Delete" asp-all-route-data="parms" class="btn btn-dark">Delete</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form>
                            <div class="btn-group-vertical">
                                <button asp-action="Details" asp-all-route-data="parms" class="btn btn-dark">Details</button>

                            </div>
                        </form>
                    }
                }



            </td>

        </tr>
                           
                            }
    </tbody>
</table>




