@model LocalShowsOnly.Models.Band

@{
    ViewData["Title"] = "Details";
}

    <h1>@Html.DisplayFor(model => model.bandName)</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.photoURL)" alt="Image" style="max-height: 500px; max-width:500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
        </dd>

        <dt class="col-sm-2">
           
            Music / Website
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.externalLink)" target="_blank">@Html.DisplayFor(model => model.externalLink)</a>
        </dd>
        <dt class="col-sm-2">
            
            Style
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.genre)
        </dd>
        <dt class="col-sm-2">
            
            About
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bio)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>*@
    </dl>
</div>
<div>
    @if (Model.hostId == ViewBag.UserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> <a>|</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
