@model IEnumerable<LocalShowsOnly.Models.Band>

@{
    ViewData["Title"] = "Index";
}

<h2>[BANDS]</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                &nbsp
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.bandName)*@
                NAME
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.bio)
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.externalLink)*@
            &nbsp
        </th>
            <th>
                @*@Html.DisplayNameFor(model => model.genre)*@
                STYLE
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.photoURL)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content(item.photoURL)" style="max-height: 200px; max-width:200px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bandName)
            </td>
            
            @{
                if (item.externalLink != null)
                {
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.externalLink)" target="_blank">Link</a>
                    </td>
                }
                else
                {
                    <td>
                        <p>
                            &nbsp
                        </p>
                    </td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            

            <td>
                <form>
                    <input type="submit" name="details" value="Details" formaction="/Bands/Details/@item.id" formmethod="get" />
                </form>
            </td>



            <td>
                @*<a asp-action="Details" asp-route-id="@item.id">Details</a>*@
                @{

                    if (item.hostId == ViewBag.UserId)
                    {
                        <div style="display:flex; flex-direction:row; ">

                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a>

                            <a asp-action="Delete" asp-route-id="@item.id" style="margin-left:1em;">Delete</a>
                        </div>
                    }
                }



            </td>
        </tr>
}
    </tbody>
</table>
